h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
.container,
.button {
  margin: 20px;
}

.item-container {
  /* text-align: left; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}
.kg-row {
  margin: 10px 5px;
}
.kg-button {
  margin: 10px 5px;
}
